/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.rating-stars ul {
	list-style-type: none;
	padding: 0;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.rating-stars ul > li.star {
	display: inline-block;
}
.rating-stars ul > li.star.hover > i.fa {
	color: #FFCC36;
}
.rating-stars ul > li.star.selected > i.fa {
	color: #FF912C;
}
input#lbs-price-range {
	width: 70%;
}
th.column-rating {
	width: 10% !important;
}